{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@components": "./src/components",
					"@theme": "./src/theme",
					"@cards": "./src/components/cards"
				}
			}
		]
	],
	"ignore": "**/node_modules/**"
}
	