{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@components": "./src/components",
					"@theme": "./src/theme",
					"@utils": "./src/utils",
					"@hooks": "./src/utils/hooks",
					"@config": "./src/config/config.tsx"
				}
			}
		]
	],
	"ignore": "**/node_modules/**"
}
	